#add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtract {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#multiply {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-button, #subtract-button, #multiply-button {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 2%;
    width: 72px;
    font-size: 14px;
    background-color: lightblue;
}
